/*Reset CSS Defaults*/

html {
    font-size: 12pt;
    font-weight: normal;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


html,
body,
div,
span,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
table,
tbody,
tfoot,
thead,
tr,
td,
form,
label,
fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}


ol,
ul {
    list-style: none;
}


table {
    border-collapse: collapse;
    border-spacing: 0;
}


@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

/*Other*/

@charset "UTF-8";

:root {
    --primary: #F4E04D;
    --secondary: #08BDBD;
    --tertiary: #4059AD;
    --light: white;
    --dark: #24191F;
    --body: normal normal normal 1rem/1.25rem "Roboto Mono", Tahoma, Arial, sans-serif;
    --body-color: #24191F;
}

.on-dark {
    color: white;
}

/*Bootstrap*/
.masthead {
    padding-top: calc(6rem + 74px);
    padding-bottom: 6rem;
}

@media (min-width: 992px) {
    .masthead {
        padding-top: calc(6rem + 104px);
        padding-bottom: 6rem;
    }
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/**/

body {
    margin: 0;
    font: var(--body);
    font-size: 1rem;
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:visited {
    color: var(--primary);
    text-decoration: none;
}
a:hover, a:active {
    color: var(--secondary);
}

h1 {
    color: var(--secondary);
    font-size: 6vw;
    line-height: 5vw;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-bottom: var(--primary) .5rem solid;
}

h2 {
    color: var(--secondary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

nav {
    background: var(--tertiary);
    font-size: 1rem;
    padding: 1.5rem 0;
    color: white;
    width: 100%;
    position: fixed;
    text-transform: uppercase;
    letter-spacing: .25rem;
    font-weight: 600;
}

nav .container {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    padding-top: 4.25rem;
}

.wrapper .left, .wrapper .right {
    display: flex;
    justify-content: center;
    padding: 25vh 6vw;
}

.wrapper .left {
    flex: 40%;
    background: white;
}

.wrapper .right {
    flex: 60%;
    background: var(--primary);
}

/*Responsive*/
@media (max-width: 600px) {
    .wrapper {
        flex-wrap: wrap
    }
}