table {
}

td,
th {
    padding: 10px;
}

td {
    text-align: center;
    border-right: var(--secondary) 1px solid;
}

tr td:last-child {
    border: none;
}

th {
    background: var(--secondary);
    font-size: .75rem;
    text-align: left;
}